div#basic.page
    div.row
        div.label 我是國泰員工
        div
            input.full(placeholder="請輸入序號")
    div.row
        div.label 我不是國泰員工
    div.row
        button#sendMyData.BPBtn.large.blue.pageBtn(data-id="Q1-1") 進入Q1