div#Q1-4.page
    div.row
        span Q1 請問剛剛聽到需要購買的東西是什麼呢
    div.row
        button.needBuy(data-buy='牛奶') 牛奶
        button.needBuy(data-buy='西瓜') 西瓜
        button.needBuy(data-buy='醬油') 醬油
        button.needBuy(data-buy='青菜') 青菜
        button.needBuy(data-buy='玉米') 玉米
        button.needBuy(data-buy='牛奶') 牛奶
        button.needBuy(data-buy='豆腐') 豆腐
        button.needBuy(data-buy='泡麵') 泡麵
        button.needBuy(data-buy='豬肉') 豬肉
        button.needBuy(data-buy='香腸') 香腸
        button.needBuy(data-buy='南瓜') 南瓜
        button.needBuy(data-buy='紅豆') 紅豆
        button.needBuy(data-buy='冬粉') 冬粉
        button.needBuy(data-buy='豆漿') 豆漿
        button.needBuy(data-buy='茄子') 茄子
        button.needBuy(data-buy='蒟蒻') 蒟蒻
        
         