div#Q2-2.page
    div.row
        span Q2
    div.row
        div
            - var n = 0;
                while n < 10
                    button.Q2-2_numbers(data-num=n)= n++
        div.mySelection


        
         