div#Q3-4.page.bg3
    div.row.center.timerBox
        img.bubble_q3(src="./img/bubble_q3.svg")
        div#Q3AfterTimer.Q3timer.t1
            span.value 40
        span.notice2 注意！只有五次點擊機會！
        span.notice3 現在請點擊「圖片」上，與上一張照片不同之處(至少找出5個)
    div.row.Q3beforeBox
        div.board
            img(src="./img/Q3after.jpg")
    div.row.center
        div.message
   
    button.fBtn.skip.pageBtn(data-id="Q3-4") 我看完了
