div#Q4-2.page
    div.row
        span 點選顏色
    div.row
        span.questColor(style="color:#f00;font-size:3em") 綠
        span.questColor(style="color:#00f;font-size:3em") 紫
        span.questColor(style="color:#0f0;font-size:3em") 黃
        span.questColor(style="color:#fa0;font-size:3em") 藍
        span.questColor(style="color:#f0f;font-size:3em") 橙

    div.row
        button.colorBtn(data-color="紅") 紅色
        button.colorBtn(data-color="黃") 黃色
        button.colorBtn(data-color="綠") 綠色
        button.colorBtn(data-color="藍") 藍色
        button.colorBtn(data-color="紫") 紫色
        button.colorBtn(data-color="橙") 橙色

    div.row
        div.messgae


        
         