div#Q5-1.page
    div.row
        span Q5 畫時鐘
    div.row
        canvas#drawCanvas
    div.row
        button#sendMyData.BPBtn.large.blue.pageBtn(data-id="Q1-3") 送出
    div.row
        button#sendMyData.BPBtn.large.blue.pageBtn(data-id="Q1-3") 跳過


        
         