doctype html
html
    include ./comps/header.pug
    body 
        div.app 
            include ./comps/start.pug
            include ./comps/personal.pug
            include ./comps/basic.pug
            include ./comps/q1-1.pug
            include ./comps/q1-2.pug
            include ./comps/q1-3.pug
            include ./comps/q1-4.pug
            include ./comps/q2-2.pug
            include ./comps/q2-1.pug
            include ./comps/q3-1.pug
            include ./comps/q3-2.pug
            include ./comps/q3-3.pug
            include ./comps/q4-1.pug
            include ./comps/q4-2.pug
            include ./comps/q5-1.pug
            include ./comps/end.pug
        div.testBtn
            button.BPBtn.large.pageBtn(data-id="Q1-1") Q1
            button.BPBtn.large.pageBtn(data-id="Q2-1") Q2
            button.BPBtn.large.pageBtn(data-id="Q3-1") Q3
            button.BPBtn.large.pageBtn(data-id="Q4-1") Q4
            button.BPBtn.large.pageBtn(data-id="Q5-1") Q5

