@mixin Q1()
    #Q1-1
        .row
            position: relative
        div.chatBox
            background-size: 100%
            width: 100%
            max-width: 360px
            height: 220px
            @include flexBox(center, center)
            div.text
                font-size: 20px
                font-weight: 700
                line-height: 29px
                text-align: center
                letter-spacing: 0em
                
            &.q1-1a
                background: url('../img/chat_q1-1a.svg') no-repeat center center
                &::after
                    content: ''
                    position: absolute
                    width: 60px
                    height: 62px
                    background: url('../img/bubble_q1.svg') no-repeat center center
                    top:4px
                    right: -10px
                div.text
                    width: 280px
                    margin-bottom: 16px
                    
            &.q1-1b
                background: url('../img/chat_q1-1b.svg') no-repeat center center
               
                height: 200px
                margin-top: -20px
                div.text
                    margin-top: 25px
                    margin-left: 15px
                    flex-direction: column
                    @include flexBox(center, center)
                    text-align: center
                    width: 280px
                    span
                        font-size: 18px
                        font-weight: 500

                    span.notice
                        font-size: 18px
                        font-weight: 700
                        color:#FF4756
            &.q1-1c
                width: 100%
                max-width: 360px
                height: 120px
                background: url('../img/chat_q1-1c.svg') no-repeat center center
                div.text
                    font-size: 18px
                    font-weight: 500
                    line-height: 26px

                    color:#FFE7A6
                    width: 170px
                    margin-bottom: 30px
        
        @keyframes Q1isListenedFadeIn
            0% 
                opacity: 0
                transform: translateY(-20px)
            100% 
                opacity: 1
                transform: translateY(0)
        .character
            margin-top: -30px
            z-index: -1
            position: relative
            img
                max-width: 140px
                width: 100%
        
           
        /*
            #Q1progress
        #Q1progress
            width: 100%
            height: 10px
            border-radius: 8px
            background-color: #bababa
            margin: 10px
            overflow: hidden
            .bar
                width: 0
                height: 10px
                background-color: #EECB47


        #Q1isListened
            animation-name: Q1isListenedFadeIn
            animation-duration: .4s

            flex-direction: column
            @include flexBox(center, center)

        button.BPBtn.secondary
            margin-top: -30px
            