@mixin Q3()
    #Q3-1
        img
            width: 100%
    #Q3-2
        div.board
            position: relative
            img
                width: 100%
            div.cBtn
                position: absolute
                &.on
                    background-color: rgba(255, 0, 0, .6)
                    border-radius: 50%

                
            